{% extends 'layout.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<body class="home">

    <!-- <div class="">
       
        <h2>Secretaria</h2>
        <div>
        <button><a href="/horadoc">Disponibilidad medica</a></button></div>
        <div>
        <button><a href="/layout">Salir</a></button></div>  
    </div> -->

    <div class="page-hero">
        <div class="hero-section">
            <div class="container text-center wow zoomIn">

                <h1 style="color: #01785c;"> Bienvenido/a {{ session['name'] }}</h1>

                <div>
                    <a class="btn btn-primary ml-lg-3"  href="/horadoc">Disponibilidad medica</a>
                </div>
                <div>
                    <br>
                    <a class="btn btn-primary ml-lg-3" href="/layout">Salir</a>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}