{% extends 'layout_session.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<body class="home">
    <!-- <div class="inicio">
        <h1> BIENVENIDO/A {{ session['name'] }}</h1>
        <h2>Paciente</h2>

        <div>
            <a class="btn btn-primary ml-lg-3" href="/horamed">Disponibilidad medica</a>
        </div>

        <button><a href="/layout">Salir</a></button>
    </div> -->

    <div class="page-hero">
        <div class="hero-section">
            <div class="container text-center wow zoomIn">

                <h1 style="color: #01785c;"> Bienvenido/a {{ session['name'] }}</h1>

                <div>
                    <a class="btn btn-primary ml-lg-3"  href="/horamed">Agendar atencion medica</a>
                </div>
                <div>
                    <br>
                    <a class="btn btn-primary ml-lg-3" href="/layout">Salir</a>
                </div>
            </div>
        </div>
    </div>



</body>

{% endblock %}