{% extends 'layout_session.html' %}
{% block title %} Registro {% endblock %}

{% block content %}
<body class="home">


<div class="page-section">
  <div class="container">
    <h1 class="text-center wow fadeInUp">Ingrese datos para agendar atencion medica</h1>
    <h3 class="text-center wow fadeInUp">(Otorrinolaringologia)</h3>


    <form class=form action="/medico_otp" onsubmit="myFunction()" method="POST" class="contact-form">
      <div class="row mt-8 ">

        <div data-wow-delay="300ms">
          <select name="rut" tid="departement" class="form-control" hidden>
            <option value="19507743-6">19507743-6</option>
          </select>
        </div>


        <div data-wow-delay="300ms">
          <select name="specialty" tid="departement" class="form-control" hidden>
            <option value="otorrino">otorrino</option>
          </select>
        </div>


        <div data-wow-delay="300ms">
          <select name="specialty" tid="departement" class="form-control" hidden>
            <option value="otorrino">otorrino</option>
          </select>
        </div>

        <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
          <select name="doctor" tid="departement" class="form-control">
            <option value="Alejandro Sanz">Alejandro Sanz</option>
            <option value="Bastian Galleguillos">Bastian Galleguillos</option>
            <option value="Camila Cornejo">Camila Cornejo</option>
          </select>
        </div>

        <div class="col-12 col-sm-6 py-2 wow fadeInRight">
          <input type="date" name="medical_date" id="date" class="form-control" placeholder="Ingrese fecha:">
        </div>

        <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
          <select name="medical_hour" tid="departement" class="form-control">
            <option value="8:30">8:30</option>
            <option value="9:00">9:00</option>
            <option value="9:30">9:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:30</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
          </select>
        </div>



        <div class="form-group">
          <button class="btn btn-primary wow zoomIn" class="boton">Seleccionar</button>
        </div>



    </form>
    <script>
      function myFunction() {
        alert("Disponibilidad agregada!");
      }
    </script>

  </div>

</div>

</body>

{% endblock %}