{% extends 'layout.html' %}
{% block title %} Registro {% endblock %}

{% block content %}


<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Recuperar Contraseña</h1>

      <form class=form action="/forgot_pass" onsubmit="myFunction()" method="POST" class="contact-form">
        <div class="row mt-5 ">
          <div class="col-12 col-sm-6 py-2 wow fadeInRight">
            <input oninput="checkEmail(this)" type="email" name="email" id="email" class="form-control" required placeholder="Correo electronico:">
          </div>
        </div>
        
        <br>

        <div class="form-group">
            <button class="boton btn btn-primary wow fadeInUp">Recuperar</button>
        </div>

    </form>
    <script>
    function myFunction() {
      alert("Se mostrara su contraseña a continuación");
    }
    </script>
  
    </div> <!-- .container --> 
  </div> .page-section

<!-- 
    <div class="registro">
        <form class=form action="/registro" onsubmit="myFunction()" method="POST"> 

            <h1 class="form_titulo">Ingresa tus datos!</h1><br>

            <div class="form-group col-12 col-sm-6 py-2 wow fadeInLeft">
                <label>Nombre:</label>
                <input type="text" class="form-input" name="name" required placeholder="Nombre:">
            </div>
            <div class="form-group col-12 col-sm-6 py-2 wow fadeInLeft">
                <label>Apellidos:</label>
                <input type="text" class="form-input" name="last_name" required placeholder="Apellidos:"><br>
            </div>

            <div class="form-group col-12 col-sm-6 py-2 wow fadeInLeft">
                <label>RUT:</label>
                <input oninput="checkRut(this)" type="text" class="form-input" name="rut" required maxlength="10" placeholder="Rut: (Ej: 12345678-9)"><br>
            </div>

            <div class="form-group col-12 col-sm-6 py-2 wow fadeInLeft">
                <label>Celular:</label>
                <input type="text" class="form-input" name="cellphone_num" maxlength="12" required placeholder="Celular: (Ej: +56912345678)">
            </div>

            <div class="form-group">
                <label>Correo Electronico:</label>
                <input type="email" class="form-input" name="email" required placeholder="Correo electronico">
            </div>

            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" class="form-input" name="password" minlength="8" required placeholder="Contraseña:">
            </div>

            <div class="form-group">
                <label>Repetir contraseña:</label>
                <input type="password" class="form-input" name="pass_confirmation" minlength="8" required placeholder="Repetir Contraseña:">
            </div>

            <div class="form-group">
                <label>Direccion: (Opcional)</label>
                <input type="text" class="form-input" name="address" placeholder="Direccion: (Opcional)">
            </div>

            <div class="form-group">
                <label>Telefono: (Opcional)</label>
                <input type="text" class="form-input" name="phone_num" maxlength="12" placeholder="Direccion: (Opcional)" >
            </div>

            <div class="form-group">
                <button class="boton">Registrar</button>
            </div>

        </form>

        

    </div> -->

  

    <script src="../static/js/rut.js"></script>

{% endblock %}